* {
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}
body {
  position: relative;
}
.overlay {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  transition: opacity 0.2s ease;
  opacity: 0;
  display: none;
  min-width: 320px;
}
.overlay__close {
  display: block;
  position: absolute;
  cursor: pointer;
  width: 18px;
  height: 18px;
  top: 23px;
  right: 22px;
}
.overlay__close::before,
.overlay__close::after {
  content: '';
  display: block;
  position: absolute;
  width: 100%;
  height: 2px;
  top: 50%;
  left: 0;
  background: #fff;
  border-radius: 2px;
  transition: opacity 0.2s linear;
}
.overlay__close::before {
  transform: translateY(-50%) rotate(45deg);
}
.overlay__close::after {
  transform: translateY(-50%) rotate(-45deg);
}
.overlay__close:hover::before,
.overlay__close:hover::after {
  opacity: 0.7;
}
.overlay_animated {
  display: block;
}
.overlay_show {
  display: block;
  opacity: 1;
}

.modal {
  display: block;
  position: absolute;
  left: 50%;
  top: 50%;
  background-color: #fff;
  transform: translate(-50%, -100%);
  width: 480px;
  height: auto;
  max-width: 90%;
  border-radius: 2px;
  box-shadow: 0 0 5px -2px #000;
  padding: 36px;
  transition: all 0.2s ease;
  opacity: 0;
}
@media screen and (max-width: 320px) {
  .modal {
    padding: 24px 20px;
  }
}
@media screen and (max-width: 380px) {
  .modal {
    padding: 24px 20px;
  }
}
.modal_show {
  opacity: 1;
  transform: translate(-50%, -50%);
}
.modal__buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 24px;
}
.text-block {
  display: block;
  position: relative;
  margin-bottom: 5px;
}
.text-block_text-align_center {
  text-align: center;
}
.text-block__h1 {
  color: #000;
  font-size: 24px;
  line-height: 30px;
  margin-bottom: 14px;
  font-weight: 600;
}
.text-block__simple-text {
  font-size: 14px;
  line-height: 20px;
  margin-bottom: 20px;
  color: #9b9b9b;
}

.for-input {
  display: block;
  position: relative;
  width: 100%;
  height: auto;
}
.for-input__input {
  display: block;
  width: 100%;
  height: 48px;
  border: 1px solid #e8e8e8;
  outline: none;
  font-size: 14px;
  line-height: 46px;
  padding: 0 10px;
  transition: border-color 0.15s ease;
  color: #333c4e;
}
.for-input__input:focus {
  border-color: #476bb3;
}
.for-input_address::before {
  content: '\e900';
  font-family: 'icomoon';
  color: #9b9b9b;
  display: block;
  position: absolute;
  left: 11px;
  top: 50%;
  transform: translateY(-50%);
}
.for-input_address .for-input__input {
  padding-left: 35px;
}

.for-btn {
  display: block;
  position: relative;
}
.for-btn__button {
  height: 48px;
  cursor: pointer;
  text-align: center;
  line-height: 48px;
  background: #171717;
  color: #eeeeef;
  border: 0;
  outline: none;
  padding: 0 16px;
  transition: background 0.2s linear;
  border-radius: 1px;
}
.for-btn__button:hover {
  background: #2a2a2a;
}
.for-btn__button:active {
  background: #000;
}
.for-btn__button_transparent {
  color: #171717;
  background: transparent;
  border: 1px solid #e8e8e8;
  line-height: 46px;
}
.for-btn__button_transparent:hover {
  background: #e8e8e8;
}
.for-btn__button_transparent:active {
  background: #c0c0c0;
}
