@font-face {
  font-family: 'icomoon';
  src:  url('icomoon.eot?20p0yu');
  src:  url('icomoon.eot?20p0yu#iefix') format('embedded-opentype'),
    url('icomoon.ttf?20p0yu') format('truetype'),
    url('icomoon.woff?20p0yu') format('woff'),
    url('icomoon.svg?20p0yu#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon_"], [class*=" icon_"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon_location:before {
  content: "\e900";
}
